---
import Badge from "./Badge.astro";
import { getListPage } from "@/lib/contentParser.astro";
import type { CtaSection } from "@/types";

const ctaEntry = await getListPage("ctaSection", "call-to-action");
const ctaData: CtaSection = ctaEntry.data;
if (!ctaData.enable) return;
---

<section class="section">
  <div
    class="container bg-light py-20 rounded-4xl relative overflow-hidden isolate"
  >
    <div class="section-container">
      <div class="section-intro centralize">
        <Badge title={ctaData.badge ? ctaData.badge : ""} />
        <h2 class="title hasHighlight lg:col-7" set:html={ctaData.title} />
        <p class="subtitle text-h6-sm lg:col-6">{ctaData.description}</p>
        {
          ctaData.button && ctaData.button.enable && ctaData.button.link && (
            <a href={ctaData.button.link} class="btn btn-primary mt-9">
              {ctaData.button.label}
            </a>
          )
        }
      </div>
    </div>
    <div
      class="absolute bottom-0 right-0 size-120 xl:size-280 blur-2xl translate-x-2/5 translate-y-1/2 -z-10"
      style="background: radial-gradient(circle, color-mix(in srgb, var(--color-primary) 60%, white) 0%, var(--color-primary) 10%, transparent 60%);"
    >
    </div>
    <div class="absolute top-1/2 -translate-y-1/2 h-1/2 w-full overflow-hidden">
      <canvas class="heroSporeCanvas w-full"></canvas>
    </div>
  </div>
</section>
